@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Variables de color para el tema claro */
:root {
  --background: #ffffff; /* Fondo claro por defecto */
  --foreground: #000000; /* Texto oscuro por defecto */
  /* Variables para el tema oscuro */
  --background-color-dark: #4144cb; /* Tomorrow Night Blue */
  --text-color-dark: #cd3d3d; /* Texto blanco */
  
  /* Tipografía */
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}
.dark-mode {
  --background: #1a202c; /* Fondo oscuro */
  --foreground: #2e7aac; /* Texto claro */
}
/* Estilos generales */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
main{
  background-image: url('../../public/Designer\ \(17\).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dark-mode {
  background-color: #1a202c; /* Dark background color */
  color: #205eae; /* Light text color */
}

/* Tema claro por defecto */
body {
  background-color: #ffffff; /* Light background color */
  color: #000000; /* Dark text color */
}