@tailwind base;
@tailwind components;
@tailwind utilities;

:/* globals.css */

/* Variables de color para el tema claro */
:root {
  --background-color-light: #e0f7fa; /* Celeste claro */
  --text-color-light: #000000; /* Texto oscuro */
  
  /* Variables para el tema oscuro */
  --background-color-dark: #002b36; /* Tomorrow Night Blue */
  --text-color-dark: #ffffff; /* Texto blanco */
  
  /* Tipografía */
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

/* Estilos generales */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #1a202c; /* Dark background color */
  color: #e2e8f0; /* Light text color */
}

/* Tema claro por defecto */
body {
  background-color: #ffffff; /* Light background color */
  color: #000000; /* Dark text color */
}